@import "../../../_variables";

.drawer {
  display: none;
  height: 100%;
  flex: 0 0 0px;
  flex-direction: column;
  align-items: center;
  background-color: $panel-bg;
  border-left: 1px solid $panel-border;
  overflow: scroll;
}

.drawerOpen {
  flex: 0 0 250px;
  display: flex;
}

.drawerTabsArea {
  width: 100%;
  display: flex;
  align-items: center;
  padding: $gap2;
  gap: $gap2;
  overflow-y: scroll;
  height: 50px;
  min-height: 50px;
} 

.drawerPanelArea {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: $gap3;
  padding-top: $gap1;
  padding-bottom: $gap1;
}

.drawerPanelAreaNoSelectedNode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}