@import "../../../../variables";

.astTreePanelArea {
  padding: $gap2;
  overflow: scroll;
}
.astTreePanelItem {
  display: flex;
  flex-direction: column;
}

.astTreePanelItemStartTag {
  color: $text;
}
.astTreePanelItemStartTagSelected {
  color: $selected;
}

.astTreePanelItemContent {
  color: $text;
}
.astTreePanelItemContentSelected {
  color: $selected;
}

.astTreePanelItemEndTag {
  color: $text;
}
.astTreePanelItemEndTagSelected {
  color: $selected;
}