@import "../../../variables";

.actionButton {
  border: 1px solid $text;
  border-radius: $gap1;
  padding: $gap1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionIcon {
  color: $text;
}

.actionIconActive {
  color: $active;
}
.actionIconDisable {
  color: $disable;
}


.actionButtonActive {
  border-color: $active;
  color: $active;
}
.actionButtonDisable {
  border-color: $disable;
}