@import "../../../variables";

.panel {
  width: 225px;
  border: 1px solid $panel-border;
  border-radius: 20px;
}

.panelTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $gap3;
  color: $text;
  font-size: 1.2rem;
  font-weight: bolder;
}

.panelArea {
  padding: $gap3;
}

.panelItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $gap2;
}

.panelItemLabel {
  margin-bottom: $gap2;
}

.panelItemRowCenterArea {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.panelItemColumnArea {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: $gap2;
}

.panelItemRowBetweenAera {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}