@import "../../../variables";

.inputWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputLabel {
  color: $label;
}

.input {
  width: 100px;
  height: 1.3rem;
}