@import "../../_variables";

.leftDrawer {
  display: none;
  flex: 0 0 0px;
  background-color: $panel-bg;
  border-right: 1px solid $panel-border;
}

.leftDrawerOpen {
  display: block;
  flex: 1 0 300px;
  height: 100%;
}