@import "../../_variables";

.rightDrawer {
  display: none;
  flex: 0 0 0px;
  background-color: $panel-bg;
  border-left: 1px solid $panel-border;
}

.rightDrawerOpen {
  display: block;
  flex: 1 0 200px;
  height: 100%;
}