@import "../../../variables";

.astTreePanel {
  padding: 15px;
}

.astTreePanelTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  color: $text;
}

.astTreePanelItem {
  display: flex;
  flex-direction: column;
}


.astTreePanelItemStartTag {
  color: $text;
}
.astTreePanelItemStartTagSelected {
  color: $label;
}

.astTreePanelItemContent {
  color: $text;
}
.astTreePanelItemContentSelected {
  color: $label;
}

.astTreePanelItemEndTag {
  color: $text;
}
.astTreePanelItemEndTagSelected {
  color: $label;
}