@import "../../../variables";

.panel {
  width: 225px;
  border: 1px solid $panel-border;
  border-radius: 20px;
}

.panelHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panelHeaderToggleButton {
  position: absolute;
  right: $gap3;
}

.panelTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $gap3;
  padding-bottom: $gap3;
  color: $text;
  font-size: 1.2rem;
  font-weight: bolder;
}

.panelArea {
  padding: $gap3;
  padding-top: 0;
}

.panelAreaClose {
  display: none;
}

.panelItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $gap2;
}

.panelItemLabel {
  font-size: 1.1rem;
  font-weight: 500;
  align-self: start;
  margin-bottom: $gap2;
}

.panelItemRowCenterArea {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.panelItemColumnArea {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: $gap2;
}

.panelItemColumnCenterArea {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap2;
}

.panelItemRowBetweenAera {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.panelItemActionRowBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap1;
  min-width: 150px;
  min-height: 40px;
  width: 100%;
  height: 100%;
  border: 1px solid $panel-border;
  border-radius: $gap1;
  &:hover {
    border-color: $active;
    background-color: $active;
    color: $text-reverse;
  }
}