@import "../../variables";

.renderer {
  position: relative;
  width: 100%;
  height: calc(100% - 20px);
  margin: 10px;
  border: 1px solid $panel-border;
  background-color: white;
  overflow: scroll;
}