$background: #d8d8d8;
$panel-bg: #f3f3f3;
$panel-border: #d8d8d8;
$label: #5100ff;
$text: #333;
$text-reverse: #f6f6f6;
$active: #5100ff;
$disable: #aaa;

// gap
$gap1: 5px;
$gap2: 10px;
$gap3: 15px;
$gap4: 20px;
$gap5: 25px;