@import "../../../variables";

.styleEditor {
  padding: 15px;
  text-align: center;
}
.styleEditorTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $gap5;
  color: $text;
}
.styleEditorForm {
  height: 85vh;
  overflow: scroll;
}
.styleEditorFormItem {
  margin-bottom: $gap3;
}
.styleEditorFormItemLabel {
  color: $label;
}
.styleEditorFormItemText {
  width: 100px;
  height: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}