@import "../../../variables";

.styleEditor {
  padding: 15px;
  text-align: center;
}
.styleEditorTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  color: $text;
}
.styleEditorFormItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.styleEditorForm {
  height: 85vh;
  overflow: scroll;
}
.styleEditorFormActionBar {
  @extend .styleEditorFormItem;
}
.styleEditorFormItemLabel {
  color: $label;
}
.styleEditorFormItemFieldCommon {
  width: 100px;
  height: 1.3rem;
}
.styleEditorFormItemText {
  @extend .styleEditorFormItemFieldCommon;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.styleEditorFormItemSelect {
  @extend .styleEditorFormItemFieldCommon;
}
.styleEditorFormItemInput {
  @extend .styleEditorFormItemFieldCommon;
}
